* {
    box-sizing: border-box;
}

html, body, div, ul, li, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1832px;
    text-align: center;
    margin: auto;
    padding: 0 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Inter" , sans-serif;
    color: $color-text;
}



.cart {
    background-color: $color-green;
    padding: 4px 8px;
    border-radius: 50%;
    font-weight: 500;
    font-size: 12px;
}

html,
body, .App {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
    height: 312px;
    background-color: #000000;
}

.main {
    padding: 72px 0 142px;
    display: flex;
    gap: 138px;
}